<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.User">
        <constructor>
            <idArg column="id" javaType="_long" jdbcType="BIGINT" />
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="mobile" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>

    <sql id="Base_Column_List">
    id, name , mobile, password, address
  </sql>
    <select id="selectByPrimaryKey" parameterType="_long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectPage" resultType="com.example.demo.entity.User" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
    </select>

</mapper>
